<header id="header" class="header">
 <div class="header-container">
        <div class="info-left">
            <div>
                <i class="fas fa-home icon"></i>
            </div>
            <div>
                <p>Alójate</p>
            </div>           
        </div>

        <div class="info-right">
            <i class="fas fa-search icon"></i>
            <i class="fas fa-bars icon"></i>             
        </div>
 </div>

 <hr id="linea">
    <div class="header2">
     <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">House</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">About</a></li>
        </ul>
     </div>
    </div>
</header>
    <div class="estancias">
      <h1>Estancias</h1>
      <p>MAS DETALLES</p>
    </div>
