header{
    
    color: #ffffff;
}

.header-container{
    background-color:rgb(47, 70, 90);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-left{
    display: flex;
    font-size: 15px;
    padding: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}
 
.info-right {
    display: flex;
    padding: 30px;
    justify-content: right;    
}

hr #linea {
    color: #ffffff;
    line-height: 10px;
}

.header2{
    display: flex;
    background-color:rgb(47, 70, 90);
    justify-content: space-around;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    display: flex;
    padding: 30px;
}

.menu a {
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
}

.estancias{
    background-color:rgba(229, 226, 226, 0.315);
    padding: 15px;
}
.estancias h1{
    display: flex;
    justify-content: center;
}

.estancias p{
    display: flex;
    justify-content: center;
}

