<h1 id="titulo">ESTANCIAS</h1>
<div id="estancias">
  <div class="estancias1">
    <div class="img">
      <img src="{{ img01 }}" />
    </div>
    <div class="info">
      <h2>ADOSADO COLORIDO</h2>
      <p>DESCANSAR Y RETIRARSE EN UNA<br />CASA CON LA MEJOR COMUNIDAD</p>
    </div>
  </div>
  <div class="estancias1">
    <div class="img">
      <img src="{{ img02 }}" />
    </div>
    <div class="info">
      <h2>PLAZA BONANZA</h2>
      <p>
        MIRA EL OCÉANO, ESCUCHA LAS OLAS <br />
        Y DISFRUTA DEL MAR
      </p>
    </div>
  </div>
  <div class="estancias1">
    <div class="img">
      <img src="{{ img03 }}" />
    </div>
    <div class="info">
      <h2>SANTUARIO ANTIGUO</h2>
      <p>
        ENCUENTRA LA CASA DE TUS SUEÑOS <br />CERCA DEL COLEGIO Y DE TU OFICINA
      </p>
    </div>
  </div>
</div>
